<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB84YD0OZ1VoB-awlz35IpdIhq-7U9pCq8</string>
	<key>GCM_SENDER_ID</key>
	<string>835679405642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nyayavidhi</string>
	<key>PROJECT_ID</key>
	<string>nyayavidhi-sih</string>
	<key>STORAGE_BUCKET</key>
	<string>nyayavidhi-sih.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835679405642:ios:5bd2405e00adf5d4af88b3</string>
</dict>
</plist>